body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
  }

form {
    margin-top: 20px;
}

header nav {
    padding: 10px;
    background-color: #333;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

h1 {
    text-align: center;
}

main {
    text-align: center;
    
}

label {
    margin: 20px;
}

ul {
    list-style-type: none;
}

